@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Satoshi';
        src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Satoshi';
        src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2');
        font-style: italic;
        font-display: swap;
    }

    body {
        @apply font-satoshi;
        @apply text-ah-font-primary;
    }
}

@layer components {
    .btn {
        @apply rounded-full transition;
    }

    .btn-primary {
        @apply btn text-any-purple-600 bg-any-green-600 focus:ring-2 focus:ring-offset-2 focus:ring-any-green-600 focus:outline-none disabled:text-white disabled:bg-any-purple-200;
    }

    .btn-secondary {
        @apply btn text-any-purple-600 border border-any-purple-600 hover:bg-any-gray-50 active:bg-any-gray-100 focus:ring-2 focus:ring-offset-2 focus:ring-any-green-600 focus:outline-none disabled:text-any-purple-200 disabled:border-any-purple-200;
    }

    .btn-tertiary {
        @apply btn underline text-any-purple-600 hover:no-underline hover:bg-any-gray-50 active:bg-any-gray-100 active:no-underline focus:ring-2 focus:ring-offset-2 focus:ring-any-green-600 focus:outline-none disabled:text-any-purple-200;
    }

    .btn-neutral {
        @apply btn text-white bg-any-purple-600 hover:bg-any-purple-600/95 focus:ring-2 focus:ring-offset-2 focus:ring-any-green-600 focus:outline-none disabled:text-white disabled:bg-any-purple-200;
    }

    .btn-inverse {
        @apply btn shadow-md bg-white text-any-purple-600 hover:bg-any-gray-50 active:bg-any-gray-100 disabled:text-any-purple-200;
    }

    .btn-small {
        @apply py-2 px-3 text-sm;
    }

    .btn-medium {
        @apply px-4 py-[0.875rem];
    }

    .btn-large {
        @apply py-4 px-6 text-xl;
    }
}
@layer utilities {
    .clip-path-top-right {
        clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    }

    .clip-path-top-left {
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    }

    .clip-path-bottom-left {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    }

    .clip-path-bottom-right {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
}